.busImg {
  margin: 20px auto;
}

.hr {
  width: 90%;
  margin: 10px auto;
  height: 3px;
  background-color: #f5f5f5;
}

.loadingText {
  font-style: italic;
  color: var(--secondary-color);
}

/* Move styles to Button component */
.inputDiv {
  margin: 20px auto;
}

.label {
  display: block;
  font-weight: 600;
}

.labelHint {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary-color);
}

.inputField {
  width: 300px;
  padding: 15px;
  font-size: 1.125rem;
  border: solid thin var(--primary-color);
  border-radius: 10px;
  margin-top: 10px;
}
