:root {
  font-size: 16px;
  --primary-color: #28166f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #28166f;
}

.container {
  max-width: 360px;
  margin: auto;
  min-height: 100vh;
}

.white-text {
  color: white;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.my-min {
  margin: 20px auto;
}

.my-max {
  margin: 50px auto;
}
