:root {
  font-size: 16px;
  --primary-color: #28166f;
  --secondary-color: #aa9b9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #28166f;
}

.container {
  max-width: 360px;
  margin: auto;
}

.min-full-height {
  min-height: 94vh;
}

.white-wrapper {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.text-white {
  color: white;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.my-min {
  margin: 20px auto;
}

.my-max {
  margin: 50px auto;
}
